* {
    margin: 0;
    padding: 0;
}
.body {
    font-family: sans-serif;
}


.nav-list {
    padding-top: 26px;
    text-align: center;
    padding-bottom: 26px;
    
    
}

.nav-item {
    color: #FF0000;
    display: inline-block;
    text-align: center;
    
    
}

.nav-link {
    color: #FF0000;
    text-transform: uppercase;
    font-style: normal;
    font-size: 18px;
    line-height: 18px;
    text-decoration: none;
    margin-right: 60px;

    

}
.main {
    text-align:center;
}

.img {
    display: block;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 48px;
}

.main-tittle {
    color:#373737;
    font-size: 22px;
    line-height: 27px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 38px;
}


.description {
    align-content: center;
}

.lorem-text {
    color: #373737;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 28px;
    text-align: center;
    margin-right: 68px;
    margin-left: 68px;
}

.text {

    color: #373737;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 66px;
    text-align: center;
    margin-right: 68px;
    margin-left: 68px;
}


.red-link {
    background-color:#FF0000;
    padding: 18px 42px;
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
}


.footer-text {
    margin-top: 82px;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    margin-bottom: 29px;
    margin-right: 105px;

}