body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.head-menu {
    background-image: url("img/background.png");
}

.menu-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hexagon {
    clip-path: polygon(0 27%, 50% 0, 100% 27%, 100% 73%, 50% 100%, 0 73%);
    background-color: #18CFAB;
    width: 58px;
    height: 67px;
    position: relative;
    display: block;
}

.theham {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 26px 0;
}

.h-latter {
    font-weight: bold;
    font-size: 40px;
    line-height: 31px;
    color: #FFFFFF;
    position: absolute;
    top: 18px;
    left: 13px;
    text-decoration: none;
}

.the-ham-logo {
    font-size: 32px;
    line-height: 48px;
    color: #FFFFFF;
    display: block;
    margin-left: 6px;
}

.ham {
    font-weight: bold;
}

.nav-menu {
    display: flex;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    text-transform: uppercase;

}

.search {
    margin-left: 5px;
    margin-top: 3px;
    
}

.menu-link:hover {
    color: #18CFAB;
    padding-bottom: 47px;
    border-bottom: 2px solid #18CFAB;
    transition: 0.3s;
}

.nav-menu-item {
    list-style-type: none;
    padding-right: 21px;
}

.menu-link {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);

}

.menu {
    display: flex;
    justify-content: space-between;
    background-color: rgba(94, 93, 88, 0.6);
}

.head-title {
    text-align: center;
}

.titleOne {
    font-weight: bold;
    font-size: 35px;
    line-height: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 264px;
}

.titleTwo {
    font-weight: bold;
    font-size: 78px;
    line-height: 1px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 63px;
}


.titleThree {
    font-size: 34px;
    line-height: 1px;
    text-align: center;
    color: #D4D4D4;
    padding-top: 63px;
}

.head-bttn {
    text-align: center;
    padding-top: 129px;
    padding-bottom: 243px;
}

.bttn1 {
    font-size: 15px;
    line-height: 32px;
    padding: 16px 17px;
    border: none;
    border-top: 5px solid white;
    border-radius: 3px;
    color: white;
    margin-right: 26px;
    text-transform: uppercase;
}

.bttn2 {
    text-transform: uppercase;
    font-size: 15px;
    line-height: 32px;
    padding: 16px 11px;
    border: none;
    border-top: 5px solid white;
    border-radius: 3px;
    color: white;
    background-color: #00CBF6;
}

.turquoise-color {
    color: #18CFAB;
}

.turquoise-background-color {
    background-color: #18CFAB;
}

.menu-big-button {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-between;
    flex-flow: row;
    width: 100%;
}

.big-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    flex-basis: auto;
    height: 370px;
    width: 100%;
}

.big-button:hover {
    cursor: pointer;
}

.big-button:nth-child(even) {
    background-color: #18cfab;
    box-shadow: 0 -7px rgba(255, 255, 255, 1);
}

.big-button:nth-child(odd) {
    background-color: #1c2a33;
    box-shadow: 0 -7px rgba(24, 207, 171, 1);
}

.onklick-menu {
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 120px;
    padding-top: 50px;
}

.onklick-menu-odd {
    color: #18cfab;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 120px;
    padding-top: 50px;
}

.div-img {
    background-repeat: no-repeat;
}

.onklick {
    background-image: url("./img/icons/onklick.png");
    height: 97px;
    width: 58px;
}

.diamond {
    background-image: url("./img/icons/diamond.png");
    height: 75px;
    width: 93px;
}

.lamp {
    background-image: url("./img/icons/lamp.png");
    height: 96px;
    width: 60px;
}

.device {
    background-image: url("./img/icons/device.png");
    height: 76px;
    width: 99px;
}



.our-services {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.services {
    padding-top: 100px;
    font-family: 'Montserrat', sans-serif;
    color: #4e4e4e;
    font-size: 36px;
    position: relative;
}

.services::before {
    content: '';
    width: 76px;
    height: 1px;
    background-color: #18cfab;
    top: 170px;
    left: 70px;
    position: absolute;
}

.services::after {
    content: '';
    width: 76px;
    height: 1px;
    background-color: #18cfab;
    top: 173px;
    left: 80px;
    position: absolute;
}

.services-menu {
    display: flex;
    flex-direction: column;
    width: 1160px;
    margin-top: 100px;
}

.list-menu {
    display: flex;
    justify-content: space-around;
    height: 70px;
    align-items: center;
    width: 100%;
}

.list-menu-item {
    align-content: center;
    font-family: 'Montserrat', sans-serif;
    color: #717171;
    font-size: 16px;
}

.li-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 100px;
    flex-grow: 1;
    font-family: 'Montserrat', sans-serif;
    color: #717171;
    height: 70px;
    background-color: rgb(248, 252, 254);
    border: 1px solid rgb(236, 236, 236);
    list-style-type: none;
    position: relative;
}

.li-list:hover {
    cursor: pointer;
    border: 1px solid #18CFAB;
}



.activates {
    color: #fff;
    background-color: rgb(24, 207, 171);
    border: 1px solid rgb(24, 207, 171);
}

.activates::after {
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 10px solid rgb(24, 207, 171);
    content: '';
    display: block;
    height: 9px;
    position: absolute;
    top: 68px;
}

.services-menu-content {
    display: flex;
    flex-direction: row;
    margin-top: 24px;
    height: 140px;
    margin-bottom: 105px;
}

.image-services {
    width: 192px;
    height: 139px;
}

.content {
    flex-grow: 5;
    font-family: 'Montserrat', sans-serif;
    color: #777777;
    font-size: 14px;
    font-weight: 300;
    line-height: 25px;
    text-align: justify;
    overflow: hidden;
    margin-left: 20px;
}

.section-is-ready {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("./img/Layer\ 21\ 1.png");
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: multiply;
}

.main-text-section-ready {
    color: #18cfab;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    padding-top: 127px;
}

.second-text-section-ready {
    color: #d8d8d8;
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
}

.button-is-ready {
    background-color: #18cfab;
    margin-top: 80px;
    margin-bottom: 127px;
    font-size: 15px;
    line-height: 32px;
    padding: 16px 17px;
    border: none;
    border-top: 5px solid white;
    border-radius: 3px;
    color: white;
    margin-right: 26px;
    text-transform: uppercase;
}


.amazing-work {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(248, 252, 254);
}

.duble-line::before {
    content: '';
    width: 80px;
    height: 1px;
    background-color: #18cfab;
    top: 170px;
    left: 130px;
    position: absolute;
}

.duble-line::after {
    content: '';
    width: 80px;
    height: 1px;
    background-color: #18cfab;
    top: 173px;
    left: 140px;
    position: absolute;
}

.list-amazing {
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 60px;
    background-color: white;
}

.li-amazing {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    color: #717171;
    font-size: 14px;
    margin: 0;
    border: 1px solid rgb(236, 236, 236);
    flex-grow: 1;
    list-style-type: none;
    transition: all .7s;
}

.li-amazing:hover {
    border: 1px solid #18cfab;
    cursor: pointer;
}

.activates-amazing {
    color: #18cfab;
    border: 1px solid #18cfab;
}

.menu-amazing-block {
    width: 600px;
    margin-top: 100px;
}

.image-amazing {
    width: 100%;
}

.amazing-items {
    display: flex;
    justify-content: stretch;
    flex-wrap: wrap;
    align-items: stretch;
    margin-top: 70px;
    width: 1160px;
}

.margin-bottom {
    margin-bottom: 230px;
}

.items-image {
    position: relative;
    height: 210px;
    width: 290px;
    margin: 0;
    padding: 0;
}



.hide {
    display: none;
  }
  .loader {
    font-size: 45px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: 72px auto;
    position: relative;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load6 1.7s infinite ease;
    animation: load6 1.7s infinite ease;
  }
  @-webkit-keyframes load6 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      box-shadow: 0 -0.83em 0 -0.4em #18cfab, 0 -0.83em 0 -0.42em #00CBF6, 0 -0.83em 0 -0.44em #00CBF6, 0 -0.83em 0 -0.46em #999999, 0 -0.83em 0 -0.477em #00CBF6;
    }
    5%,
    95% {
      box-shadow: 0 -0.83em 0 -0.4em #18cfab, 0 -0.83em 0 -0.42em #00CBF6, 0 -0.83em 0 -0.44em #00CBF6, 0 -0.83em 0 -0.46em #999999, 0 -0.83em 0 -0.477em #00CBF6;
    }
    10%,
    59% {
      box-shadow: 0 -0.83em 0 -0.4em #18cfab, -0.087em -0.825em 0 -0.42em #00CBF6, -0.173em -0.812em 0 -0.44em #00CBF6, -0.256em -0.789em 0 -0.46em #999999, -0.297em -0.775em 0 -0.477em #00CBF6;
    }
    20% {
      box-shadow: 0 -0.83em 0 -0.4em #18cfab, -0.338em -0.758em 0 -0.42em #00CBF6, -0.555em -0.617em 0 -0.44em #00CBF6, -0.671em -0.488em 0 -0.46em #999999, -0.749em -0.34em 0 -0.477em #00CBF6;
    }
    38% {
      box-shadow: 0 -0.83em 0 -0.4em #18cfab, -0.377em -0.74em 0 -0.42em #00CBF6, -0.645em -0.522em 0 -0.44em #00CBF6, -0.775em -0.297em 0 -0.46em #999999, -0.82em -0.09em 0 -0.477em #00CBF6;
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
      box-shadow: 0 -0.83em 0 -0.4em #18cfab, 0 -0.83em 0 -0.42em #00CBF6, 0 -0.83em 0 -0.44em #00CBF6, 0 -0.83em 0 -0.46em #999999, 0 -0.83em 0 -0.477em #00CBF6;
    }
  }
  @keyframes load6 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      box-shadow: 0 -0.83em 0 -0.4em #18cfab, 0 -0.83em 0 -0.42em #00CBF6, 0 -0.83em 0 -0.44em #00CBF6, 0 -0.83em 0 -0.46em #999999, 0 -0.83em 0 -0.477em #00CBF6;
    }
    5%,
    95% {
      box-shadow: 0 -0.83em 0 -0.4em #18cfab, 0 -0.83em 0 -0.42em #00CBF6, 0 -0.83em 0 -0.44em #00CBF6, 0 -0.83em 0 -0.46em #999999, 0 -0.83em 0 -0.477em #00CBF6;
    }
    10%,
    59% {
      box-shadow: 0 -0.83em 0 -0.4em #18cfab, -0.087em -0.825em 0 -0.42em #00CBF6, -0.173em -0.812em 0 -0.44em #00CBF6, -0.256em -0.789em 0 -0.46em #999999, -0.297em -0.775em 0 -0.477em #00CBF6;
    }
    20% {
      box-shadow: 0 -0.83em 0 -0.4em #18cfab, -0.338em -0.758em 0 -0.42em #00CBF6, -0.555em -0.617em 0 -0.44em #00CBF6, -0.671em -0.488em 0 -0.46em #999999, -0.749em -0.34em 0 -0.477em #00CBF6;
    }
    38% {
      box-shadow: 0 -0.83em 0 -0.4em #18cfab, -0.377em -0.74em 0 -0.42em #00CBF6, -0.645em -0.522em 0 -0.44em #00CBF6, -0.775em -0.297em 0 -0.46em #999999, -0.82em -0.09em 0 -0.477em #00CBF6;
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
      box-shadow: 0 -0.83em 0 -0.4em #18cfab, 0 -0.83em 0 -0.42em #00CBF6, 0 -0.83em 0 -0.44em #00CBF6, 0 -0.83em 0 -0.46em #999999, 0 -0.83em 0 -0.477em #00CBF6;
    }
  }



.load-more {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    display: inline-block;
    border-radius: 4px;
    background-color: #18cfab;
    width: 165px;
    height: 60px;
    text-align: center;
    border: none;
    text-transform: uppercase;
    margin-top: 70px;
    margin-bottom: 100px;
    transition: all .3s;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.hover-amazing-items {
    display: flex;
    justify-content: center;
    border-top: 3px solid #18cfab;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    background: rgb(248, 252, 254);
    top: 0;
    position: absolute;
    height: 211px;
    width: 100%;
    transition: all .6s;
}

.items-image:hover .hover-amazing-items {
    opacity: 1;
}

.search-link {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    
    
}

.circle-search-kub{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    background-color: #18cfab;

}

.link {
    border: 2px solid #18cfab;
    margin-right: 5px;
}


.hover-creative-design {
    margin-top: 34px;
    font-family: 'Montserrat', sans-serif;
    color: #18cfab;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.hover-web-design {
    font-family: 'Montserrat', sans-serif;
    color: #8a8a8a;
    font-size: 12px;
    font-weight: 300;
    margin-top: 12px;
}

/*Breaking News*/

.breaking-news {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.breaking-news-lines::before {
    content: '';
    width: 80px;
    height: 1px;
    background-color: #18cfab;
    top: 170px;
    left: 95px;
    position: absolute;
}

.breaking-news-lines::after {
    content: '';
    width: 80px;
    height: 1px;
    background-color: #18cfab;
    top: 173px;
    left: 105px;
    position: absolute;
}

.breaking-news-lines {
    padding-top: 80px;
}

.image-news {
    display: flex;
    flex-direction: column;
    margin-bottom: 45px;
    position: relative;
    width: 260px;
    height: 280px;
    background-color: rgb(248, 252, 254);
    cursor: pointer;
}

.image-breaking-news {
    width: 100%;
    height: 208px;
}

.bottom-breaking-news {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid rgb(238, 239, 239);
    height: 72px;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
}

.top-right-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #203e38;
    height: 70px;
    position: absolute;
    width: 70px;
    top: 0;
    right: 0;
}

.news-title {
    font-family: 'Montserrat', sans-serif;
    color: #717171;
    font-size: 18px;
    font-weight: 700;
}

.vertical-line:after {
    content: '';
    width: 1px;
    height: 14px;
    background-color: #777777;
    top: 40px;
    left: 100px;
    position: absolute;
}

.link-section-note {
    font-family: 'Montserrat', sans-serif;
    color: #777777;
    font-size: 14px;
    font-weight: 300;
    margin: 0 10px;
}

.top-right-section-date {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 16px;
}

.image-news:hover .top-right-section {
    background-color: #18cfab;
}

.image-news:hover .news-title {
    color: #18cfab;
}

.section-image-news {
    margin-top: 100px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 1160px;
    margin-bottom: 100px;
}







.what-people-say {
    
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.people-say-background {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(./img/BackWtheySay.png);
    background-size: cover;
    background-blend-mode: multiply;
    background-size: 1450px 856px;
}

.content-block-people {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 1160px;
}

.authors-main-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.services-people-say {
    padding-top: 100px;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    position: relative;
    color: #ffffff;
}

.people-say-line::before {
    content: '';
    width: 80px;
    height: 1px;
    background-color: #18cfab;
    top: 170px;
    left: 250px;
    position: absolute;
}

.people-say-line::after {
    content: '';
    width: 80px;
    height: 1px;
    background-color: #18cfab;
    top: 173px;
    left: 260px;
    position: absolute;
}

.description-author {
    font-family: 'Montserrat', sans-serif;
    color: #bbbbbb;
    font-size: 16px;
    font-weight: 300;
    margin-top: 46px;
    text-align: center;
}

.fa-quote-left-people-say {
    color: #18cfab;
    font-size: 30px;
    margin-top: 105px;
}

.name-author {
    font-family: 'Montserrat', sans-serif;
    color: #18cfab;
    font-size: 16px;
    font-weight: 700;
    margin-top: 43px;
}

.position-author {
    font-family: 'Montserrat', sans-serif;
    color: #bbbbbb;
    font-size: 13px;
    font-weight: 300;
    margin-top: 10px;
}

.mini-circle-photo {
    display: flex;
    justify-content: center;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 0 0 4px rgba(31, 218, 181, 0.2);
    transition: all .3s;
    margin: 0 20px;
}

.mini-circle-photo:hover {
    cursor: pointer;
}

.mini-circle-border {
    border: 1px solid #18cfab;
    transform: translateY(-10px);
    transition: all .3s;
}

.image-block-author {
    display: flex;
    justify-content: center;
    border-radius: 100%;
    border: 2px solid #18cfab;
    width: 140px;
    height: 140px;
    box-sizing: border-box;
    overflow: hidden;
    margin-top: 27px;
    box-shadow: 0 0 0 10px rgba(31, 218, 181, 0.2);
}

.image-author {
    height: 100%;
}

.scroll-block-authors {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 100px;
    width: 480px;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 1px solid rgb(188, 188, 188);
}

.square:hover {
    background-color: #18cfab;
    cursor: pointer;
}

.fa-angle {
    color: white;
    font-size: 13px;
}

.carousel {
    display: flex;
}


.mini-circle-photo {
    display: flex;
    justify-content: center;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 0 0 4px rgba(31, 218, 181, 0.2);
    transition: all .3s;
    margin: 0 20px;
}

.footer {
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    height: 110px;
    background-color: #22353f;
}

.content-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1160px;
}

.copyright {
    color: #aeaeae;
    font-size: 14px;
    font-weight: 300;
    line-height: 26px;
    margin-right: 5px;
}


.logo-ham-footer {
    color: #18cfab;
    font-size: 14px;
    font-weight: 300;
    margin-right: 10px;
    position: relative;
    text-decoration: none;
}

.logo-ham-footer::after {
    content: '';
    width: 1px;
    height: 14px;
    background-color: #aeaeae;
    top: 2px;
    left: 62px;
    position: absolute;
}

